/* Put your custom CSS here */
.ui-page.ui-body-c {
  background: url(images/background.png);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
}

/*#page1 {
  background:  url(images/Home_Text.png), url(images/background.png);
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 90%, cover;
}*/

img {
  width: 100%;
}

.ui-bar-a, .ui-btn {
	border: none;
	background: transparent;
}

.ui-footer {
	position: absolute;
	bottom: 0;
}
.ui-footer a {
	width: 100%;
}

.ui-footer, .ui-btn-inner {
	width: 100%;
	padding: 0 !important;
}

.ui-corner-all, .ui-btn-corner-all {
	border-radius: 0;
}