/* Put your custom CSS here */
.ui-page.ui-body-c {
  background: url(images/background.png);
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
}

/*#page1 {
  background:  url(images/Home_Text.png), url(images/background.png);
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 90%, cover;
}*/

img {
  width: 100%;
}

.ui-bar-a {
	border: none;
	background: transparent;
}